button{
   background-color:red;
}
h1{
   text-align:center;
}
p{
   text-align:center;
}
h4{
   text-align:center;
   text-decoration:underline;
   font-weight:600;
   font-family:roboto;
}

/* 
   h1{
    display:inline;
    color:red;
    font-size:30px;
    background-color: yellow
   }
   .check{
    color:red
   }
   p,h2{
    color:black;
    background-color:orange;
   }
   #test{
    color:blue
   }
   div > p{
    color:red
   } */