div:hover{
 background-color:chartreuse;
}
div:active{
 background-color:darkorchid;
}
div{
 height:100px;
 width:150px;
 background-color: blue;
 transition-property: all;
 transition-duration:2s;
 transition-timing-function:ease-in;
 transition-delay:5s;
}
@media (min-width:600px){
 div{
  background-color: red;
 }
}
@media (width:500px){
 div{
  background-color:chartreuse;
 }
}
@media (min-width:300px) and (max-width:450px){
 div{
  background-color: yellow;
 }
}