#box1{
 height:100px;
 width:200px;
 background-color:blue;
 text-align:center;
}
#Para-1{
 height:150px;
 width:200px;
 background-color:aquamarine;
 text-align:center;
}
p{
 line-height:20px;
 font-family: "Open SanS", sans-serif;
}
.Online_Icon{
 font-size:50px;
}
.material-symbols-outlined {
    font-size: 200px !important;
}