div{
 height:100px;
 width:150px;
 background-color: blue;
}
@media (min-width:600px){
 div{
  background-color: red;
 }
}
@media (width:500px){
 div{
  background-color:chartreuse;
 }
}
@media (min-width:300px) and (max-width:450px){
 div{
  background-color: yellow;
 }
}