      div{
         height:200px;
         width:200px;
         /* background-color: blueviolet; */
         border-radius: 50%;
         position:absolute;
         padding-left: 60px;
         padding-top:50px;
         color:white;
         font-size:45px;
         margin-top:40px;
         margin-left:30px;
         border:20px solid blue;
         border-top: 20px solid black;
         animation-name: AniMate;
         animation-duration: 4s;
         animation-timing-function: steps(5);
         animation-delay: 0s;
         animation-iteration-count: infinite;
         
      }
      @keyframes AniMate{
         from{
            transform:rotate(0deg)
         }
         to{
            transform:rotate(360deg)
         }
      }
