div:hover{
 background-color:chartreuse;
}
div:active{
 background-color:darkorchid;
}
div{
 height:100px;
 width:100px;
 position:absolute;
 top: 200px;
 left: 200px;
 background-color: blue;
 transition-property: all;
 transition-duration:2s;
 /* transition-timing-function:ease-in; */
 transition-delay:2s;
 /* transform: rotate(180deg); */
 /* rotate: x 230deg; */
 /* rotate: y 89.70deg; */
 /* rotate: z 90deg; */
 /* transform: scale(0.5); */
 /* transform: scale(3,1) */
 transform:translateX(70px);
}
@media (min-width:600px){
 div{
  background-color: red;
 }
}
@media (width:500px){
 div{
  background-color:chartreuse;
 }
}
@media (min-width:300px) and (max-width:450px){
 div{
  background-color: yellow;
 }
}