div{
 height:150px;
 width:150px;
 background-color:blueviolet;
 position:absolute;
 top:80px;
 left:90px;
 padding-top:50px;
 padding-left:40px;
 box-sizing: border-box;
/* animation-name: AniMate;
animation-duration: 4s;
animation-timing-function:ease-in;
animation-delay:1s;
animation-iteration-count:infinite;
animation-direction:normal; */
/* animation-direction:reverse; */
/* animation:AniMate 1s ease-in 7 */
animation:AniMate 5s ease-in 1s 2 reverse;
/* animation-play-state: running; */
animation-fill-mode:both;
}
@keyframes AniMate{
   0%{
      background-color: darkgoldenrod;
      left:0px;
      font-size:90px;
   }
   50%{
      background-color: chartreuse;
      font-size:10px;
   }
   80%{
      background-color: red;
      font-size:80px;
   }
   100%{
      background-color: blue;
      left:300px;
      color:white;
      font-size:60px;
   }
}

/* @keyframes AniMate{
 from
     {left:0px;
  }
  to
     {left:500px;
  }
} */