body{
 background-color:blueviolet;
 color:blue;
 font-size:27px
}
p{
 background-color: red;
 color:violet;
 font-size:30px
}
h1{
 background-color: yellow;
 color:green;
 font-size:25px
}