*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100vw;
 background-color:antiquewhite;
}
#main{
 background-color:darksalmon;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding:2rem 3rem;
 border-radius: 0.8rem;
}
h3{
 font-size: 2rem;
 display: flex;
 justify-content: center;
 flex-direction: column;
}
input{
background-color:aliceblue;
display: flex;
margin:0.6rem;
padding-left: 0.7rem;
height: 4rem;
width: 25rem;
border-radius: 0.5rem;
font-size:1.5rem;
border:none;
}
textarea{
background-color: white;
display: flex;
justify-content: center;
align-items: center;
height: 4rem;
width: 25rem;
margin:0.6rem;
padding-left: 0.7rem;
font-size: 1.6rem;
border-radius: 0.5rem;
}
.btn{
font-size: 25px;
padding: 0.4rem 1rem;
cursor: pointer;
background: linear-gradient(to right, #8d68c5, #e34494);
border-radius: 0.8rem;
margin:0.6rem;
color: #fff;
}

