*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.navbar{
 background-color: rgb(39, 137, 9);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding:0.9rem 2.5rem;
}
.nav-name h2{
 font-size:1.9rem;
 color:white;
}
.nav-menu ul{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 /* position:relative; */
 gap:2.5rem;
}
.nav-menu ul li{
 list-style: none;
}
.nav-menu ul li a{
 color:white;
 text-decoration: none;
 font-size:1rem;
 font-family: 'Poppins', sans-serif;
 padding-left:0.2rem;
}
.courses{
 position:relative;
}
.nav-menu .c_toggle{
 display: none;
 flex-direction: column;
 position:absolute;
 background-color: rgb(39, 137, 9);;
 top:220%;
 left:0%;
 width: max-content;
 align-items: flex-start;
 padding: 0.3rem;
 border-radius: 0.2rem;
 border-top: 0.15rem solid green;
}
.courses:hover .c_toggle{
 display: flex;
}
.services{
 position:relative;
}
.nav-menu .s_toggle{
 display: none;
 position:absolute;
 top:220%;
 left:0%;
 align-items: flex-start;
 width: max-content;
 flex-direction: column;
 background-color: rgb(39, 137, 9);
 padding: 0.2rem;
 border-radius: 0.2rem;
 border-top: 0.15rem solid green;
}
.services:hover .s_toggle{
 display: flex;
}

